*.1
*.3
*.7
*.def
*.la
*.lo
*.o
.deps
.dirstamp
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux/git-package-version
config.h
config.h.in
config.log
config.status
configure
libtool
roman-*.tar.bz2
roman-*.tar.gz
roman-*.zip
src/romandate
src/romannum
stamp-h1
